<h1>Recipes:</h1>

  <h2>Name:</h2>
  <%= @recipe.name %><br>
  <h2>Ingredients:</h2>
  <%= @recipe.ingredients %>.<br>
  <h2>Cook Time:</h2>
  <%= @recipe.cook_time %> Minutes<br>

  <form action="/recipes/<%=@recipe.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form> 

  <a href="/recipes">Back to all Recipes</a>


